@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-weight: <weight>;
	scroll-behavior: smooth;
	font-optical-sizing: auto;
	font-family: "Raleway", sans-serif;
}

html,body{
    overflow-x: hidden;
}

body{
	color: white;
	background: rgb(33,32,30);
	background: linear-gradient(168deg, rgba(33,32,30,1) 0%, rgba(119,119,119,1) 98%);
}

.title{
	gap: 30%;
	padding: 10px;
	display: flex;
	align-items: center;
}

.title img{
	width: 90px;
	height: 90px;
	padding: 4px;
	border-radius: 10px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: linear-gradient(69deg, rgba(81,55,156,1) 0%, rgba(251,119,133,1) 60%, rgba(254,175,132,1) 100%);
}

.title img:hover{
	transition-delay: 3s;
	transition: background .15s linear .1;
	background: linear-gradient(-69deg, rgba(81,55,156,1) 0%, rgba(251,119,133,1) 60%, rgba(254,175,132,1) 100%);
}

img{
	cursor: pointer;
}

nav{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: linear-gradient(69deg, rgba(81,55,156,1) 0%, rgba(251,119,133,1) 60%, rgba(254,175,132,1) 100%);
}

nav ul{
	display: flex;
	list-style: none;
	align-items: center;
}

nav ul a{
	color: white;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	transition: all 0.2s linear;
}

nav ul a:hover{
	color: black;
	background-color: white;
	padding: 10px 20px 10px 20px;
}

#menu{
	display: none;
}

nav .dropdown{
	width: 100px;
	height: 100%;
}

nav .dropdown-options{
	color: black;
	display: none;
	overflow: auto;
	position: absolute;
}

nav .dropdown:hover .dropdown-options{
	color: black;
	display: block;
	background: white;
	border: 1px black solid;
	padding: 10px 20px 20px 20px;
}

.dropdown-options a{
	color: black;
	text-decoration: none;
}

.dropdown-options a:hover{
	color: black;
	text-decoration: none;
	background: linear-gradient(69deg, rgba(81,55,156,1) 0%, rgba(251,119,133,1) 60%, rgba(254,175,132,1) 100%);
}

.dropdown button{
	border: none;
	color: white;
	padding: 0px;
	cursor: pointer;
	margin-left: 20px;
	background: transparent;
}

.photo-scroll img{
	width: 100%;
	height: 55vh;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-scroll .quote{
	top: 50%;
  	left: 50%;
	font-size: 80px;
	position: absolute;
	transform: translate(-50%, -50%);
}

#title-academic{
	text-align: center;
	margin-bottom: 20px;
}

.academic-info{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.photo-academic{
	display: flex;
	flex-wrap: wrap;
	margin-left: 20%;
}

.photo-academic a{
	text-decoration: none;
	color: white;
}

.academic{
	margin: 10px;
 	width: 250px;
 	height: 300px;
	border-radius: 4px;
 	transition: all 0.1s linear;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.academic:hover{
	width: 260px;
}

.academic,.academic p,.academic img{
	border-radius: 4px;
}

.academic img{
	width: 100%;
	height: auto;
	position: relative;
}

.academic p{
	cursor: pointer;
	padding: 0px 0px 5px 10px;
	background: rgb(81,55,156);
	background: linear-gradient(69deg, rgba(81,55,156,1) 0%, rgba(251,119,133,1) 60%, rgba(254,175,132,1) 100%);
}

#team{
	display: flex;
	padding: 50px;
	background: rgb(33,32,30);
}

.video{
	width: 50%;
}

.video video{
	width: 100%;
	height: 100%;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-list{
	width: 50%;
	margin-left: 30px;
	text-align: justify;
}

.info-list h1{
	color: white;
	margin-bottom: 10px;
}

.list{
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.list img{
	padding: 10px;
	margin-right: 10px;
}

.list fieldset{
	padding-top: 5px;
	border: 0px;
}

.info{
	display: flex;
	flex-wrap: nowrap;
	background: rgb(81,55,156);
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: linear-gradient(69deg, rgba(81,55,156,1) 0%, rgba(251,119,133,1) 60%, rgba(254,175,132,1) 100%);
}

.info-family{
	width: 50%;
	padding: 20px;
	border-right: 1px solid black;
}

.info h3{
	text-align: center;
	margin-bottom: 10px;
}

.info-family table{
	width: 100%;
	padding: 2px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-family table td{
	padding: 10px;
}

.info-contact{
	padding: 20px;
}

.info-contact .row{
	display: flex;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 20px;
}

.info-contact .row div{
	margin-right: 100px;
}

.info-contact .row input{
 	border: 0px;
	height: 20px;
	transition: all 0.2s linear;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-contact .row input:focus{
	height: 25px;
	outline: none;
}

.info-contact .col{
	display: block;
}
.info-contact .submit{
	border: 0px;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 25px;
	margin-left: 70%;
	transition: all 0.2s linear;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-contact .submit:hover{
	background: orange;
}

footer{
	padding: 5px;
	padding: 10px;
	text-align: center;
	background: rgb(33,32,30);
	background: linear-gradient(168deg, rgba(33,32,30,1) 78%, rgba(119,119,119,1) 100%);
}

.photo-scroll .quote{
	position: absolute;
	text-transform: uppercase;
	background-image: linear-gradient(
	-225deg,
	#231557 0%,
	#44107a 29%,
	#ff1361 67%,
	#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#menu{
	width: 45px;
	height: 45px;
}

.image-container{
	padding: 10px;
}

.image-container img{
	max-width: 100%;
	height: auto;
}

.about{
	width: 100%;
	margin-top: 5%;
	margin-left: 2%;
	margin-bottom: 10%;
	border-radius: 4px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: linear-gradient(69deg, rgba(81,55,156,1) 0%, rgba(251,119,133,1) 60%, rgba(254,175,132,1) 100%);
}

.section{
	display: flex;
	flex-wrap: nowrap;
	padding: 20px;
}

.section img{
	width: 650px;
	margin-left: 20px;
	border-radius: 10px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about .text{
	width: 90%;
	color: white;
	padding: 20px;
	background: rgb(33,32,30);
}

.about .text p{
	text-align: justify;
}

.cv-button{
	border: 0px;
	padding: 8px;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 4px;
	padding: 10px 5px 10px 5px;
	transition: all 0.2s linear;
}

.cv-button:hover{
	background: orange;
}

.cv-button a{
	color: black;
	text-decoration: none;
}

.assignment-container{
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

.assignment-container a{
	color: white;
	text-decoration: none;
}

.assignment-container .box img{
	width: 100%;
	height: 100%;
}

.assignment-container .box{
	margin: 20px;
	width: 200px;
	height: 300px;
	transition: all 0.1s linear;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.assignment-container .box:hover{
	width: 210px;
	height: 310px;
}

@media only screen and (max-width: 900px){
	.photo-scroll img{
		width: 100%;
		height: 40vh;
	}
	.photo-scroll .quote{
		font-size: 50px;
		position: absolute;
	  	top: 50%;
	  	left: 50%;
		transform: translate(-50%, -50%);
	}

	.academic-info{
		margin-top: 40px;
		padding-left: 0px;
	}
	
	.academic{
		margin-bottom: 20px;
	}

	.info{
		display: flex;
		flex-wrap: wrap;
	}
	.info-family{
		width: 100%;
		padding: 20px;
		border-right: 0px;
		border-bottom: 1px solid black;
	}
	.info-contact .row div{
		margin-right: 50px;
	}

	.section{
		flex-wrap: wrap;
	}

	.section img{
		width: 100vw;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	nav .dropdown{
		width: 100px;
		margin-left: 0px;
		margin-right: 10px;
	}

	.academic{
		margin-left: 5px;
	}
	
	.image-container img{
		max-width: 100%;
		height: auto;
	}

	.about{
		width: 95vw;
	}

	.about .text{
		width: 80%;
	}

	.title{
		gap: 5%;
	}

	.title img{
		width: 45px;
		height: 45px;
	}
	.title h1{
		font-size: 20px;
	}

	#team{
		flex-wrap: wrap;
	}

	#team .video, #team .info-list{
		width: 100%;
		margin-bottom: 20px;
	}
	#team .info-list{
		margin-left: 0px;
	}
}

@media (pointer:none), (pointer:coarse) {
	#menu{
		display: block;
		color: white;
	}

	nav{
		overflow: hidden;
		display: block;
		transition: height 0.5s linear;
	}
	nav ul{
		display: block;
		overflow: hidden;
		transition: height 0.5s linear;
	}

	nav ul a{
		text-decoration: none;
		color: white;
		border-right: 0px;
		padding: 5px 10px 10px 10px;
		transition: height 0.5s linear;
	}

	nav ul a:hover{
		color: black;
		background-color: white;
		padding: 3px 10px 3px 10px;
	}

	.info-contact .row{
		margin-left: 5px;
	}
	.row input{
		width: 150px;
	}
	
	.info-contact .submit{
		margin-left: 35%;
	}

	.dropdown button{
		margin-left: 13px;
		padding-right: 100px;
		display: flex;
		white-space: nowrap;
	}

	.photo-scroll .quote{
		font-size: 50px;
		position: relative;
	  	top: 50%;
	  	left: 50%;
		transform: translate(-50%, -300%);
	}
}

@media screen and (pointer:none), (pointer:coarse) and (orientation:landscape){
	.photo-scroll img{
		width: 100%;
		height: 70vh;
		border-bottom: 1px solid black;
	}
}